// .Card {
//     width: 40px;
//     height: 40px;
//     border:1px solid rgb(248, 240, 241);
//   }
  
  .Square{
    width: 40px;
    height: 40px;
    border:2px solid rgb(73, 216, 38); 
    
  }

  .ImageFlotte{
    width: 50px;
    margin-top: 15px;
    display: block;
  }

  .App{
      margin-top: 15px;
      margin-left: 150px;
      display: block;
  }
  .App2{
    margin-top: 15px;
    margin-left: 50px;
    display: block;
}